<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/dist/css/fonts/ClearSans/clearsans_regular_macroman/stylesheet.css">
    <link rel="stylesheet" href="/dist/css/fonts/font-awesome-4.7.0%202/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/css/style.css">
</head>
<body>
<div class="menu" id="scaling-menu">
    <div class="container px-0">
        <div class="row ">
            <div class="col-12 ">
                <i class="float-right fa fa-times" id="close-menu" aria-hidden="true"></i>
            </div>
            <div class="col-12 text-center custom-menu">
                <ul>
                    <li><span white>Контакты</span></li>
                    <li><span yellow>Проекты</span></li>
                    <li><span green>О нас</span></li>
                    <li><span red>Ну хоть что-нибудь</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<header>

    <div class="container">
        <div class="row ">
            <div class="col px-0">
                <a href="#"> <img src="/dist/assets/Logo.svg" width="183"  alt="">
                </a>
            </div>
            <div class="col px-0">
                <i class=" float-right fa fa-bars" id="burger-menu" aria-hidden="true"></i>
            </div>
        </div>

    </div>
</header>
<section>
    <div class="container main-section">
        <div class="row">
            <div class="col-12 px-0">
                <h1>Доводим до конца <br>сложные <a href="#" class="blue">проекты <span class="arrow">→</span></a></h1>
                <h5>Разрабатываем интерфейсы, корпоративные сайты,<br> интернет-магазины, порталы</h5>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-4 col-lg-2 px-0">
                <a href="https://t.me/aiksu" class="telegramm">+7 (843) 245-245-9</a>
            </div>
            <div class="col-4 col-lg-2 px-0 ">
                <a href="mailto:hardqode@info.ru">hello@hardqode.com</a>
            </div>
            <div class="col-12 text-left col-lg social mt-4 mt-lg-0 px-0 text-lg-right">
                <a href="https://fb.com/hardqode"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://vk.com/hardqode"><i class="fa fa-vk" aria-hidden="true"></i></a>
                <a href="https://twitter.com/hardqode"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://instagram.com/hardqode"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>

<script src="/dist/js/jquery-3.2.1.min.js"></script>
<script src="/dist/js/bootstrap.bundle.js"></script>
<script src="/dist/js/menu.js"></script>
</body>
</html>